@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

.vehicles-section {
 background-color: #d9e2f7;
 width: 100vw;
 height: 90vh;
}

.add-vehicles-container {
 /* width: 100vw; */
 display: flex;
 align-items: center;

 padding: 1rem 4rem;
}
.add-vehicles-container h1 {
 font-family: "Poppins", sans-serif;
 /* background-color: pink; */
 width: 30%;
 color: #f5738d;
}
.addUser-container {
 width: 70%;
 /* background-color: blue; */
 display: flex;
 justify-content: flex-end;
 padding: 0 5rem;
}
.addVehicle-btn {
 /* margin-top: 10px; */
 padding: 5px 20px;
 background-color: #2929509e;

 border: none;
 font-family: "Poppins", sans-serif;
 cursor: pointer;
 /* border-radius: 10px; */
 width: 20%;

 color: white;
}
.addVehicle-btn:hover {
 background-color: #7e061e8b;
}

#vehicleForm-dialog {
 /* background-color: rgba(255, 255, 255, 0.475); */
 background-color: #292950;
 border: none;
 width: 50%;
 margin: auto;
 margin-top: -3rem;
 z-index: 10;
}

.vehicle-form-container,
.vehicle-form-container-main,
.vehicle-edit-form-container {
 /* background-color: rgba(255, 255, 255, 0.475); */
 margin: auto;
 /* height: 40%; */
 width: 70%;
 display: flex;
 flex-direction: column;
 gap: 5px;
 padding: 2rem;
 font-family: "Poppins", sans-serif;
 color: white;
}

.vehicle-form-container h2 span {
 color: #f49aac;
}
.vehicle-form-container h2 {
 text-align: center;
 color: white;
}
/* .vehicle-form-container h4 {
  color: #2929509e;
  text-align: center;
}
.vehicle-form-container h4 span {
  color: #f5738d;
} */

.vehicle-form-container input {
 padding: 5px;
}
.form-btn-container button {
 margin-top: 10px;
 padding: 10px;
 width: 30%;
 background-color: #f38a9f;
 border: none;
 font-family: "Poppins", sans-serif;
 cursor: pointer;
}
.form-btn-container {
 display: flex;
 align-items: center;
 justify-content: center;
 gap: 1rem;
}
.vehicle-form-container button:hover {
 background-color: #f5738d8d;
}
.input-field {
 display: flex;
 flex-direction: column;
 gap: 2px;
}
.input-field .success input {
 border-color: #09c372;
}
.input-field .error input {
 border-color: #ff3860;
}

.error {
 color: red;
 font-size: 10px;
}

.input-field-vehicle {
 display: flex;

 gap: 1rem;
}

.locationSelect {
 padding: 5px;
}
/* snackbar */
#snackbar {
 visibility: hidden; /* Hidden by default. Visible on click */
 min-width: 250px; /* Set a default minimum width */
 margin-left: -125px; /* Divide value of min-width by 2 */
 background-color: green; /* Black background color */
 color: #fff; /* White text color */
 text-align: center; /* Centered text */
 border-radius: 2px; /* Rounded borders */
 padding: 1rem; /* Padding */
 position: fixed; /* Sit on top of the screen */
 z-index: 10; /* Add a z-index if needed */
 left: 50%; /* Center the snackbar */
 bottom: 30px; /* 30px from the bottom */
 font-family: "Poppins", sans-serif;
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
#snackbar.show {
 visibility: visible; /* Show the snackbar */
 /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
  However, delay the fade out process for 2.5 seconds */
 -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
 animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
 from {
  bottom: 0;
  opacity: 0;
 }
 to {
  bottom: 30px;
  opacity: 1;
 }
}

@keyframes fadein {
 from {
  bottom: 0;
  opacity: 0;
 }
 to {
  bottom: 30px;
  opacity: 1;
 }
}

@-webkit-keyframes fadeout {
 from {
  bottom: 30px;
  opacity: 1;
 }
 to {
  bottom: 0;
  opacity: 0;
 }
}

@keyframes fadeout {
 from {
  bottom: 30px;
  opacity: 1;
 }
 to {
  bottom: 0;
  opacity: 0;
 }
}

/* //pagination */
.displayBikes-container {
 background-color: #d9e2f7;
 position: relative;
}
.control {
 margin-bottom: 20px;
 padding: 1rem;
 display: flex;
 flex-direction: column;
 gap: 1rem;
}

.search-params {
 display: flex;
 gap: 2rem;
 font-family: "Poppins", sans-serif;
 color: #292950;
}

#sort {
 padding: 2px;
 border: none;
}

table {
 width: 90%;
 border-collapse: collapse;
 /* margin-top: 20px; */
 background-color: #d9e2f7;
}

th {
 font-family: "Poppins", sans-serif;
 border: 1px solid #f5738d;
 padding: 8px;
 text-align: center;
 font-size: medium;
 color: #292950;
}

td {
 border: 1px solid #f5738d;
 padding: 8px;
 text-align: center;
 font-family: "Poppins", sans-serif;
 font-size: small;
 color: #292950;
}
tbody img {
 height: 5rem;
}

.action-wrapper button {
 padding: 5px;
 background-color: #292950;
 border: none;
 color: #d9e2f7;
 cursor: pointer;
 font-family: "Poppins", sans-serif;
}

.action-wrapper button:hover {
 background-color: #7e061e8b;
}

.action-wrapper button.disable {
 background-color: #dac5cbf2;
 color: #292950;
 cursor: not-allowed;
}
#paginationWrapper {
 display: flex;
 align-items: center;
 margin-top: 15px;
 justify-content: center;
 background-color: #d9e2f7;
}

#paginationWrapper .input {
 margin-right: 20px;
 color: #292950;
 font-family: "Poppins", sans-serif;
 font-size: small;
}

#prevPage,
#nextPage {
 background-color: #292950;
 color: #d9e2f7;
 padding: 8px;
 border: none;
 border-radius: 5px;
 cursor: pointer;
 margin-right: 10px;
 font-size: small;
 font-family: "Poppins", sans-serif;
}

#itemPerPage {
 width: 50px;
}

#snackbar-displaypage {
 visibility: hidden; /* Hidden by default. Visible on click */
 min-width: 250px; /* Set a default minimum width */
 margin-left: -125px; /* Divide value of min-width by 2 */
 background-color: green; /* Black background color */
 color: #fff; /* White text color */
 text-align: center; /* Centered text */
 border-radius: 2px; /* Rounded borders */
 padding: 1rem; /* Padding */
 position: fixed; /* Sit on top of the screen */
 z-index: 10; /* Add a z-index if needed */
 left: 50%; /* Center the snackbar */
 bottom: 30px; /* 30px from the bottom */
 font-family: "Poppins", sans-serif;
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
#snackbar-displaypage.show {
 visibility: visible; /* Show the snackbar */
 /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
  However, delay the fade out process for 2.5 seconds */
 -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
 animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
 from {
  bottom: 0;
  opacity: 0;
 }
 to {
  bottom: 30px;
  opacity: 1;
 }
}

@keyframes fadein {
 from {
  bottom: 0;
  opacity: 0;
 }
 to {
  bottom: 30px;
  opacity: 1;
 }
}

@-webkit-keyframes fadeout {
 from {
  bottom: 30px;
  opacity: 1;
 }
 to {
  bottom: 0;
  opacity: 0;
 }
}

@keyframes fadeout {
 from {
  bottom: 30px;
  opacity: 1;
 }
 to {
  bottom: 0;
  opacity: 0;
 }
}

/* display dialog */
.displayBooking-dialog {
 background-color: #292950;

 border: none;
 width: 30%;
 padding: 2rem;

 margin: auto;
 margin-top: -8rem;
 /* display: flex; */
 position: absolute;
 top: 0;
 flex-direction: column;
 gap: 10px;
}

.displayBooking-order {
 margin: auto;
 /* height: 40%; */
 /* width: 50%; */
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
 gap: 5px;

 font-family: "Poppins", sans-serif;
 color: white;
}
.orderImg-container {
 width: 50%;

 display: flex;
 flex-direction: column;
 gap: 10px;
 align-items: center;
}

.orderImg-container image {
 width: 15rem;
 height: 20rem;
}
.image img {
 height: 100%;
 width: 100%;
}
.displayBooking-order h2 span {
 color: #f49aac;
}
.displayBooking-order h2 {
 color: white;
}

.dateTime-container {
 display: flex;
 flex-direction: column;
 font-size: medium;
}
.btn-container {
 display: flex;
 align-items: center;
 justify-content: center;
 gap: 1rem;
}

.btn-container button {
 margin-top: 10px;
 padding: 10px;
 width: 50%;
 background-color: #f38a9f;
 border: none;
 font-family: "Poppins", sans-serif;
 cursor: pointer;
}
.btn-container button:hover {
 background-color: #f5738d8d;
 cursor: pointer;
}

#prevPage:disabled,
#nextPage:disabled {
 background-color: #7b7b7bf2;
 color: #292950;
 cursor: not-allowed;
}

.delete-dialog {
 color: white;
 font-family: "Poppins", sans-serif;
 padding: 10px;
 display: flex;
 flex-direction: column;
 gap: 1rem;
}

.delete-btn,
.cancel-btn {
 margin-top: 10px;
 padding: 10px;
 width: 50%;
 background-color: #f38a9f;
 border: none;
 font-family: "Poppins", sans-serif;
 cursor: pointer;
}
.deleteDialog-btn-container {
 display: flex;
 gap: 1rem;
}
.delete-btn:hover {
 background-color: #f5738d8d;
 cursor: pointer;
}

.cancel-btn:hover {
 background-color: #f5738d8d;
 cursor: pointer;
}

.vehicle-form-container-main input,
.vehicle-edit-form-container input,
.vehicle-edit-form-container select,
.vehicle-form-container select {
 padding: 5px;
 width: 100%;
}
.vehicle-type-input {
 display: flex;
 gap: 0.3rem;
}
